{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
<div>

    <h1>Your Posts</h1>
    
        {% for post in posts %}
        
        <ul class="posts-list">
        <li>
            <div class="row d-flex align-items-center" >
            <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card rounded">
                <div class="card-header text-white bg-dark">{{ post.title }}</div>
                <div class="card-body text-white bg-secondary">
                    <p> {{ post.content }}</p>
                    <a class="likebtn"><i class="fa fa-heart"></i></a>
                    <p class="likectn">{{ post.likes_count }}</p>
                    <a class="editbtn" href="edit/{{ post.uuid.hex }}">Edit</a>
                    <a class="deletebtn" href="delete/{{ post.uuid.hex }}">Delete</a>
                <div>
            </div>
        </li>
        </ul>
        {% empty %}
        <div class="noposts">
            <p>no posts yet  :(</p>
        </div>
        {% endfor %}
</div>
{% endblock %}