{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row d-flex align-items-center" >
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="card rounded">
    <div class="card-header text-white bg-dark">Edit Post</div>
    <div class="card-body text-white bg-secondary">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                <div style="display: none;"> {{ form.content_type|as_crispy_field }} </div>
                {% if post.content_type == "text/plain" or post.contentType == "text/markdown" %}
                    {{ form.content|as_crispy_field }}
                {% else %}
                    {{ form.image|as_crispy_field }}
                {% endif %}
                {{ form.unlisted|as_crispy_field }}
                {{ form.followers|as_crispy_field }}
                <button type="submit" class="btn btn-light mt-2 float-end">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}