{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row d-flex align-items-center" >
    <div class="col-lg-6 col-md-12 col-sm-12">
<div class="card rounded">
    <div class="card-header text-white bg-dark">Login</div>
    <div class="card-body text-white bg-secondary">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                <button type="submit" class="btn btn-light mt-2 float-end">Login</button>
                <a class="btn btn-light mt-2 float-start" href="{% url 'signup-page' %}">Signup</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}