{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card login">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0" id="loginusername">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0" id="loginpassword">
                    {{ form.password|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary mt-2 loginloginbtn">Login</button>
                <a class="btn btn-secondary mt-2 loginsignupbtn" href="{% url 'signup-page' %}">Signup</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}