{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
{% for notif in notifs %}
    {% if notif.type == "FOLLOW" %}
    <div class="card">
        <div class="card-body">
            <div class="row" >
                <div class="col-10" >
                    <h5 class="card-title"><a href="/public_profile/?author_url={{ notif.from_author_url }}">{{ notif.from_username }}</a> requested to follow you...</h5>
                </div>
                <div class="col-2">
                    <a href="{% url 'approve_follow' notif.uuid %}" class="btn btn-success">accept</a>
                    <a href="{% url 'reject_follow' notif.uuid %}" class="btn btn-danger">delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if notif.type == "LIKE" %}
    <div class="card">
        <div class="card-body">
            <div class="row" >
                <div class="col-10" >
                    <h5 class="card-title">
                        <i class="fa fa-heart pe-4"></i>
                        <a href="/public_profile/?author_url={{ notif.from_author_url }}">{{ notif.from_username }}</a> liked your post
                    </h5>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if notif.type == "POST" %}
    <div class="card">
        <div class="card-body">
            <div class="row" >
                <div class="col-10" >
                    <h5 class="card-title">
                        <i class="fa fa-share pe-4" style="color:black;"></i>
                        <a href="/public_profile/?author_url={{ notif.from_author_url }}">{{ notif.from_username }}</a> shared a <a href="/authorposts/view_post/?post_url={{ notif.object_url }}">post</a>
                        with you
                    </h5>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}


{% endblock %}