{% load markdown_extras %}

<div class="card mt-2 rounded">
    <div class="card-header text-white bg-dark">
        <h3 class="m-0">{{ post.title }}</h3>
        {% if not post.received %}
            <a href="/public_profile/?author_url={{ post.author.id }}">{{ post.author.displayName }}</a>
        {% else %}
            sent from: <a href="/public_profile/?author_url={{ post.author.id }}">{{ post.author.displayName }}</a>
        {% endif %}
    </div>
    <div class="card-body text-white bg-secondary">
        {% if post.contentType == "text/markdown" %}
        <p> {{post.content | markdown| safe }}</p>
        {% else %}
        <p> {{ post.content }}</p>
        {% endif %}

        <span class="m-2">
            {% if user.is_authenticated %}
                <a class="likebtn" href="/authorposts/like/?post_id={{ post.uuid.hex }}">
                    <i class="fa fa-heart"></i>
                </a>
            {% else %}
                <i class="fa fa-heart "></i>
            {% endif %}
            <p class="likectn">{{post.likes}}</p>
        </span>
        <span class="m-2">
            <i class="fa fa-comment "></i>
            <p class="likectn">{{post.count}}</p>
        </span>

        {% if user.is_authenticated and user.author.url == post.author.id %}
            <div class="float-end">
                <a class="editbtn btn btn-light m-2" href="{% url 'edit-post-page' uuid=post.uuid  %}">Edit</a>
                <a class="deletebtn btn btn-danger m-2" href="{% url 'delete' uuid=post.uuid  %}">Delete</a>
            </div>
        {% endif %}
    </div>
</div>

<!-- post = {"type": "post", "id": self.url, "source": self.source,
"origin": self.origin, "description": self.description, "contentType": self.content_type, "content": self.content,
"author": self.author.author.get_json_object(), "count": self.comments_count, "comments": self.comments_url,
"published": self.date_published.isoformat(), "visibility": self.visibility, "unlisted": self.unlisted} -->