{% load markdown_extras %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}"></link>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
    
            let my_modal = $("#sharePostModal");
            const url_form = "/authorposts/share_post";
    
            $("#sharepost a").click(function () {
            my_modal.load(url_form, function () {
                my_modal.modal("show");
                $("#sharePostForm").submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        method: "POST",
                        data: $(this).serialize(),
                        dataType: "json",
                        url: "/authorposts/share/?post_id={{ post.uuid.hex }}",
                        success: function (response) {
                            my_modal.modal('hide');
                        },
                        error: function (response) {
                            alert('Could not share post')
                        },});      
                    });
                });
            });
        });
    </script>
</head>

<div class="card mt-2 rounded">
    <div class="card-header text-white bg-dark">
        <h3 class="m-0">{{ post.title }}</h3>
        {% if not post.received %}
            <a style="text-decoration: none; color: grey;" href="/public_profile/?author_url={{ post.author.id }}">{{ post.author.displayName }}</a>
        {% else %}
            <p style="color: grey;"> sent from: <a style="text-decoration: none;" href="/public_profile/?author_url={{ post.author.id }}">{{ post.author.displayName }}</a></p>
        {% endif %}
        {% if post.unlisted %} 
            <p class="float-end" style="color: grey;">unlisted</p>
        {% endif %} 


    </div>
    <div class="card-body text-white bg-secondary">
        {% if post.contentType == "text/markdown" %}
        <p> {{post.content | markdown| safe }}</p>
        {% else %}
        <p> {{ post.content }}</p>
        {% endif %}

        <span class="m-2">
            {% if user.is_authenticated %}
                <a class="likebtn" href="/authorposts/like/?post_id={{ post.uuid.hex }}">
                    <i class="fa fa-heart"></i>
                </a>
            {% else %}
                <i class="fa fa-heart "></i>
            {% endif %}
            <p class="likectn">{{post.likes}}</p>
        </span>
        <span class="m-2">
            <i class="fa fa-comment "></i>
            <p class="likectn">{{post.count}}</p>
        </span>
        {% if user.is_authenticated and post.visibility == 'PUBLIC' %}
            <span id="sharepost">
                <a class="sharebtn m-2">
                    <i class="fa fa-share"></i>
                </a>
            </span>
            <div id="sharePostModal" class="modal fade" role="dialog"></div> 
        {% else %}
            <i class="fa fa-share "></i>
        {% endif %}

        {% if user.is_authenticated and user.author.url == post.author.id and post.received == False %}
            <div class="float-end">
                <a class="editbtn btn btn-light m-2" href="{% url 'edit-post-page' uuid=post.uuid  %}">Edit</a>
                <a class="deletebtn btn btn-danger m-2" href="{% url 'delete' uuid=post.uuid  %}">Delete</a>
            </div>
        {% endif %}
    </div>
</div>

<!-- post = {"type": "post", "id": self.url, "source": self.source,
"origin": self.origin, "description": self.description, "contentType": self.content_type, "content": self.content,
"author": self.author.author.get_json_object(), "count": self.comments_count, "comments": self.comments_url,
"published": self.date_published.isoformat(), "visibility": self.visibility, "unlisted": self.unlisted} -->