{% extends 'app/base.html' %}
{% load bootstrap5 %}

        <!-- author_object = {"type": "author", "id": self.url,
        "host": self.host, "displayName": self.user.username,
        "url": self.url, "github": self.github,
        "profileImage": self.profile_image_url} -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <h3>{{ author.displayName }}'s posts</h3>
                        {% for post in posts %}
                            {% if not post.unlisted %}
                                {% include './post_card.html' %}
                            {% endif %}
                        {% endfor %}
                    <a class="btn btn-light mt-2 float-start" href="?page={{ paginated_posts.page|add:'-1' }}">previous</a>
                    <a class="btn btn-light mt-2 float-end" href="?page={{ paginated_posts.page|add:'1' }}">next</a>
        </div>
        <div class="col-xl">
            <div class="card">
                <div class="card-body">
                    <img class="rounded me-2 img-fluid w-25" src="{{ author.profileImage}}" alt="{{ author.displayName }}'s profile picture">
                    <h2 class="">{{ author.displayName }}</h2>
                    <p class="">({{ author.url }})</p>
                    {% if follows_you %}
                        {% if follows_you.accepted %}
                            <p class="">follows you</p>
                        {% endif %}
                    {% endif %}
                    
                    <!-- <a class="btn btn-primary" href="/follow/user/?target_url={{ author.url }}">following</a> -->
                    <!-- <button class="btn btn-secondary" type="button" disabled>following...</a>
                    <button class="btn btn-secondary" type="button" disabled>follow pending</a> -->
                    <a class="btn btn-primary" href="/follow/user/?target_url={{ author.url }}">follow</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}