{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card">
    <div class="card-header">Respond to Friend Request</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--Copied from create_post.html with minimal changes-->