{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <div class="card">
                <div class="card-header">Stream</div>
                <div class="card-body">
                    <div class="card">
                        {% for post in paginated_posts.posts %}
                        <h3>{{ post.title }}</h3>
                        {% endfor %}
                    </div>
                    <a class="card-link" href="?page={{ paginated_posts.page|add:'-1' }}">previous</a>
                    <a class="card-link" href="?page={{ paginated_posts.page|add:'1' }}">next</a>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card">
                <div class="card-header">Other authors (this is here just to have somewhere in the ui to see other authors in order to follow them)</div>
                <div class="card-body">
                    <div class="card">
                        <a href="/public_profile/?author_url={{ other_author.url }}">{{ other_author.user.username }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}