{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <h3>Stream</h3>
            {% for post in paginated_posts.posts %}
            <div class="card mt-2">
                <div class="card-header">{{ post.title }}</div>
                <div class="card-body">
                        <p> {{ post.content }}</p>
                        <a class="likebtn" href="/authorposts/like/?post_id={{ post.uuid.hex }}"><i class="fa fa-heart"></i></a>
                        <p class="likectn">{{ post.likes_count }}</p>
                </div>
            </div>
            {% endfor %}
            <a class="card-link" href="?page={{ paginated_posts.page|add:'-1' }}">previous</a>
            <a class="card-link" href="?page={{ paginated_posts.page|add:'1' }}">next</a>
        </div>
        <div class="col-xl">
            <div class="card rounded">
                <div class="card-header text-white bg-dark">Other authors (this is here just to have somewhere in the ui to see other authors in order to follow them)</div>
                <div class="card-body text-white bg-secondary">
                    <div class="card">
                        <a href="/public_profile/?author_url={{ other_author.url }}">{{ other_author.user.username }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}