{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl">
            <h3>Stream</h3>
            {% for post in paginated_posts.posts %}
                {% include './post_card.html' %}
            {% endfor %}
            <a class="btn btn-light mt-2 float-start" href="?page={{ paginated_posts.page|add:'-1' }}">previous</a>
            <a class="btn btn-light mt-2 float-end" href="?page={{ paginated_posts.page|add:'1' }}">next</a>
        </div>
        <div class="col-xl">
            <div class="card rounded">
                <div class="card-header text-white bg-dark">Discover other authors</div>
                <div class="card-body text-white bg-secondary">
                    {% for other_author in other_authors %}
                        <a style="text-decoration: none; color: white;" href="/public_profile/?author_url={{ other_author.url }}">{{ other_author.user.username }}</a>
                        <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}